
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;color: black;}
/*Estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{font-family: 'Montserrat', sans-serif;}

/*nav*/
nav{position: fixed; min-width: 100vw;background-color: #232526; z-index: 9999;}
nav a, nav i{color: white; font-size: 20px; font-weight: normal; transition: color 0.4s;}
nav a:hover,nav i:hover{color: #E54C3C;}
.bx-menu, .bx-x{display: none;}
.nav-content{position: relative; }
.menus{width: 80%; margin: auto; display: flex; justify-content: space-between;}
nav .main-menu, nav .social-media-menu{display: inline-flex;margin: 30px 0; transition: 0.4s;}
nav li{margin:0 30px;}

/*header*/
header{min-height: 100vh;background: linear-gradient(90deg, #232526 0%, #414345 100%);display: flex;justify-content: space-around;align-items: center;}
header .text-container{color: white; text-align: center; width: 40%;}
header .text-container h1{font-weight: 700; font-size: 50px;}
header .text-container hr{border: 1px solid white; margin: 12px auto;}
header .text-container p{font-weight: 400; font-size: 30px;margin-bottom: 50px;}
header .cta{padding: 15px 40px; background: #F5604B; color: white; transition: background-color 0.4s;}
header .cta:hover{background-color: #E54C3C;}
header .cta:active{background-color: #EC4343;}

/*about*/
.about{display: flex;}
.about .img-container{display: flex; justify-content: center;align-items: center;min-width: 50%;min-height: 80vh;background: #FFB3A6;}
.about .text-container{background: #F5604B;display: flex; justify-content: center; align-items: center;min-width: 50%;min-height: 80vh;}
.about .content{color: white;width: 80%;margin: auto;}
.about .content h2{font-size: 40px;font-weight: 700;}
.about .content p{font-size: 25px;font-weight: 400px;margin: 30px 0;}
.about .content a{color: white; border-bottom:1px solid whitesmoke;}

/*Experiences*/
.experiences{min-height: 80vh; display: flex; flex-direction: column; justify-content: center;align-items: center;}
.experiences h2{font-size: 40px; font-weight: 700; text-align: center; margin-top: 80px; color: #232526;}
.experiences .cards{width: 90%; margin: auto; display: flex; justify-content: space-between; }
.experiences .cards .card{width: 30%; position: relative; min-height: 300px;}
.experiences .cards .card i{font-size: 58px; color: #E54C3C;}
.experiences .cards .card h3{font-size: 25px; color: #232526; font-weight: 500; margin: 15px 0;}
.experiences .cards .card p{font-size: 20px; color:#414345;}
.experiences .cards .card .cta{font-size: 20px;font-weight: 500;color: #E54C3C;position: absolute; bottom: 0; left: 0;}
.experiences .cards .card .cta i{font-size: 22px;font-weight: 500;color: #E54C3C;}
