@media screen and (max-width:880px) {

    /*nav*/
    nav{ height: 50px; transition: 0.4s; overflow: hidden;}
    .toggle-menu{height:300px;}
    .bx-menu, .bx-x{display: inherit; position: absolute; top: 5px; right: 10px; font-size: 40px; transition: 0.4s;}
    .hide, .bx-x{display: none;}
    .show{display: inherit;}
    nav .menus{position: absolute; top: 50px;right: 0; left: 0; padding: 30px; display: block;}
    nav .menus li{text-align: center;margin: 15px 0; }
    nav .menus li a{text-decoration:underline;}
    nav .social-media-menu {display: flex; justify-content: center; align-items: center;}
    nav .social-media-menu li {font-size: 25px; margin: 0 8px;}
    nav .main-menu{display: block; margin: 0;}
    nav .social-media-menu{display: flex; justify-content: center; align-items: center;margin: 0;}
    nav li{margin:0;}
    /*header*/
    header img {
        display: none;
    }

    header .text-container {
        width: 80%;
    }

    /*about*/
    .about .img-container {
        display: none;
    }
    .about .content h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .about .content p {
        font-size: 18px;
        font-weight: 400;
        margin: 30px 0;
        line-height: 20px
    }

}
